@import '../../fonts/client/icons/style';

.fonts-loaded {
  .ot-icon {
    font-family: '#{$icomoon-font-family}' !important;
  }
}
.ot-footer {
  position: relative;
  background-color: #e0e3e6;
  color: #3a4143;

  font-size: 18px;
  z-index: 2;

  .ot-info {
    text-align: center;
  }

  a {
    display: block;
    color: #ea6773;
  }

  .ot-address {
    display: block;
    font-style: normal;
    margin: 0 auto;
    padding: 60px 0 0 0;
    background: url('../../../images/client/loc.png') center top no-repeat;
  }

  .ot-phone {
    list-style: none;
    margin: 10px auto 0;
    padding: 55px 0 0 0;
    background: url('../../../images/client/rnk.png') center top no-repeat;
  }

  .ot-phone a,
  .ot-skype {
    color: #3a4143;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .ot-socials {
    padding: 0;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    font-size: 0;

    .ot-icon {
      font-size: 45px;
    }

    a {
      color: #3a4143;
      padding: 5px;
      text-decoration: none;
    }
  }

  .ot-form {

    .ot-title {
      font-size: 30px;
      margin: 15px 0;
      text-transform: uppercase;
    }

    form {
      text-align: right;
      .ot-row {
        display: flex;
        flex-flow: row wrap;

        margin-right: -15px;
        margin-left: -15px;
      }
    }

    .ot-form-group {
      text-align: left;
      width: 33.33%;
      padding: 0 15px;
      &:last-child {
        width: 100%;
      }
    }
  }

  .ot-btn {
    display: inline-block;
    width: 100%;
    max-width: 450px;
    padding: 18px 15px;
    font-size: 22px;
    background-color: #eb5967;
    color: #fff;
    text-transform: uppercase;
    border-radius: 8px;
    border: none;

    font-weight: 400;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: lighten(#eb5967, 5%);
    }

    &:active {
      background-color: darken(#eb5967, 5%);
    }
  }

  > .ot-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;


    .ot-info {
      flex: 0 1 25%;
    }

    .ot-form {
      flex: 0 1 65%;
    }
  }

  .ot-map {
    display: none;
    transform: translate(100%, 0);
    z-index: 1;
    position: absolute;
    top: calc(-100% + 85px);
    left: 0;
    right: 0;
    height: 450px;
    transition: all .2s;

    iframe {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }

    .ot-container {
      pointer-events: none;
      position: relative;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      z-index: 2;
    }

    .ot-btn {
      pointer-events: all;
      margin-bottom: 30px;
    }

    &.ot-open {
      transform: translate(0, 0);
      display: block;
    }
  }
}

@media all and (max-width: 1023px) {
  .ot-footer {
    > .ot-section {
      padding-bottom: 0;
      flex-flow: column nowrap;

      .ot-info {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        > div, > ul {
          width: 33.33%;
          margin: 0 auto;
          padding: 0 25px;
        }

        .ot-phone, .ot-socials {
          margin-bottom: 20px;
        }
      }

      .ot-form {
        text-align: center;
        background: #fff;
        margin: 25px -15px 0;
        padding: 15px 25px 25px;
      }
    }

    .ot-map {
      top: 225px;
    }
  }
}

@media all and (max-width: 767px) {
  .ot-footer {
    > .ot-section {
      padding-bottom: 0;
      flex-flow: column nowrap;

      .ot-info {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        > div, > ul {
          width: 100%;
          margin: 0 auto;
          padding: 0 25px;
        }
      }

      .ot-form {
        text-align: center;
        background: #fff;
        margin: 25px -15px 0;
        padding: 15px 25px 25px;

        .ot-form-group {
          width: 100%;

          label {
            display: none;
          }
        }
      }
    }

    .ot-map {
      top: 0;
    }
  }
}
