$p-link-padding: 0 10px;
$p-lang-link-padding: 10px 10px 10px 0;
$p-link-font-size: 24px;

.nav {
  margin-top: 35px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-brand {
  display: block;
}

.nav-lang {
  position: absolute;
  top: 10px;
  display: flex;
  left: 140px;
}

.nav-lang-item {
  //
}

.nav-lang-link {
  padding: $p-lang-link-padding;
}

.nav-menu {
  display: flex;
}

.nav-item {
  //
}

.nav-menu,
.nav-lang {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  padding: $p-link-padding;
  font-size: $p-link-font-size;
}
