.ot-order {
  padding: 45px 0;
  background-color: #e0e3e6;

  .ot-inner {
    display: flex;
    justify-content: space-between;
  }

  .ot-text {
    padding-left: 4%;
    padding-right: 3%;
    color: #333;

    font-size: 20px;
  }

  .ot-btn {

    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ea5260;
    color: #fff;
    height: 65px;
    width: 250px;
    border-radius: 8px;
    border: none;
    font-size: 22px;
  }

  .ot-text,
  .ot-btn {
    margin: 30px auto 0;
  }

  .ot-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
}

@media all and (max-width: 1023px) {
  .ot-order {
    .ot-inner {
      flex-flow: column nowrap;
    }

    .ot-text {
      padding: 0;
      text-align: center;
    }
  }
}
