.ot-rnk {
  background: #0b939d url('../../../images/client/rnk-bg.jpg') no-repeat center center;
  background-size: cover;
  color: #fff;


  .ot-rnk-title {
    margin-top: 0;
    font-size: 67px;
    font-weight: bold;
    color: #003333;
  }

  .ot-sub-title {
    padding-left: 3%;
    font-size: 36px;
    color: #fff;
  }

  .ot-content {
    display: flex;
    justify-content: space-between;
  }

  .ot-main {
    flex: 0 1 60%;

    p {
      padding-top: 0;
      padding-bottom: 30px;
      line-height: 30px;
      font-size: 20px;
      text-align: justify;
    }

  }

  .ot-main-list {
    display: none;

    color: #003333;
  }

  .ot-main-list-title {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .ot-main-ul {
    display: block;
    columns: 3 auto;
    list-style: none;
    padding: 0;
    margin: 0 0 30px 0;
  }

  .ot-main-btn {
    display: inline-block;
    width: 100%;
    padding: 18px 15px;
    font-size: 22px;
    background-color: #016e75;
    color: #fff;
    text-transform: uppercase;
    border-radius: 8px;

    font-weight: 400;
    text-decoration: none;
    text-align: center;

    &:hover {
      background-color: darken(#016e75, 2%);
    }

    &:active,
    &:focus {
      background-color: darken(#016e75, 7%);
    }
  }

  .ot-banner {
    flex: 0 0 35%;
    background-color: rgba(0, 0, 0, .4);
    padding: 40px 35px 5px;

    .ot-ul {
      list-style: none;
      padding: 0;
      margin: 0;
      color: #fff;

      .ot-item {
        margin-bottom: 15px;
        display: block;
        padding-left: 35px;
        font-size: 18px;
        line-height: 26px;
        background: url('../../../images/client/rnk-list.png') left 2px no-repeat;
      }

      .ot-sub-text {
        display: block;
        color: #3ef9f7;
      }
    }
  }

  .ot-banner-title {
    color: #ea5260;
    font-size: 46px;
    margin-top: 0;
    margin-bottom: 35px;
  }
}

@media all and (max-width: 1023px) {
  .ot-rnk {
    .ot-rnk-title {
      text-align: center;
    }

    .ot-sub-title {
      margin-top: 30px;
      display: block;
    }

    .ot-content {
      flex-flow: column nowrap;

      .ot-main {
        text-align: center;
      }
    }

    .ot-main-list {
      margin-top: 50px;
    }
  }
}

@media all and (max-width: 767px) {
  .ot-rnk {
    .ot-rnk-title {
      font-size: 36px;
    }

    .ot-sub-title {
      font-size: 24px;
    }

    .ot-content {
      .ot-main {
        font-size: 16px;
      }
    }

    .ot-main-list-title {
      font-size: 24px;
    }

    .ot-main-list-title,
    .ot-main-ul {
      color: #fff;
    }

    .ot-banner-title {
      font-size: 36px;
      text-align: center;
    }

    .ot-banner .ot-ul .ot-item {
      font-size: 16px;
    }
  }
}
