.ot-service-list {
  list-style: none;
  margin: 0 -15px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .ot-item {
    width: 24%;
    margin-bottom: 25px;
  }

  .ot-link {
    padding: 0 15px;
    display: block;
    font-size: 24px;
    text-align: center;
    text-decoration: none;

    color: #3a4143;

    &:hover {
      text-decoration: underline;
    }

    .ot-img {
      display: block;
      max-width: 100%;
      width: 100%;
      margin-bottom: 15px;
    }
  }

  .ot-sub-text {
    margin-top: 5px;
    display: block;
    color: #ea5260;
    font-size: 18px;
    line-height: 30px;
    text-decoration: underline;
  }

  .ot-sub-text-small {

    margin-top: 5px;
    color: #0b959f;
    font-size: 18px;
  }
}

@media all and (max-width: 1023px) {
  .ot-service-list {
    .ot-link {
      font-size: 20px;
    }
    .ot-sub-text,
    .ot-sub-text-small {
      font-size: 16px;
    }
  }
}


@media all and (max-width: 767px) {
  .ot-service-list {
    flex-flow: row wrap;
    .ot-item {
      width: 50%;
      margin-bottom: 10px;
    }
  }
}


@media all and (max-width: 767px) {
  .ot-service-list {
    .ot-link {
      font-size: 16px;
    }
  }
}
