.team-hexagon {
  margin: 0 auto;

  .team-hexagon__img {
    filter: url(#grayscale);
    transition: filter .2s;
  }

  &:hover {
    .team-hexagon__img {
      filter: none;
    }
  }
}

.team-hexagon__hex {
  stroke-width: 5;
  stroke: #17a3ad;

  &:hover {
    stroke: #ea5260;
  }
}

