.ot-d-block {
  display: block !important;
}


.ot-d-md-block {
  @media all and (min-width: 1024px) {
    display: block !important;
  }
}

.ot-d-md-none {
  @media all and (min-width: 1024px) {
    display: none !important;
  }
}

.ot-text-xs-center {
  @media all and (max-width: 767px) {
    text-align: center;
  }
}
