// @import "../core/variables";

$p-fonts-path: '../../../fonts/client';
$p-roboto-condensed-path: '#{$p-fonts-path}/Roboto_Condensed';
$p-roboto-slab-path: '#{$p-fonts-path}/Roboto_Slab';

// Roboto Conesed
@font-face {
  font-family: 'Roboto Condensed';
  src:
    local('Roboto Condensed Bold'),
    local('RobotoCondensed-Bold'),
    url('#{$p-roboto-condensed-path}/RobotoCondensed-Bold.woff2') format('woff2'),
    url('#{$p-roboto-condensed-path}/RobotoCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src:
    local('Roboto Condensed Light'),
    local('RobotoCondensed-Light'),
    url('#{$p-roboto-condensed-path}/RobotoCondensed-Light.woff2') format('woff2'),
    url('#{$p-roboto-condensed-path}/RobotoCondensed-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src:
    local('Roboto Condensed'),
    local('RobotoCondensed-Regular'),
    url('#{$p-roboto-condensed-path}/RobotoCondensed-Regular.woff2') format('woff2'),
    url('#{$p-roboto-condensed-path}/RobotoCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Roboto Slab
@font-face {
  font-family: 'Roboto Slab';
  src:
    local('Roboto Slab Thin'),
    local('RobotoSlab-Thin'),
    url('#{$p-roboto-slab-path}/RobotoSlab-Thin.woff2') format('woff2'),
    url('#{$p-roboto-slab-path}/RobotoSlab-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src:
    local('Roboto Slab Regular'),
    local('RobotoSlab-Regular'),
    url('#{$p-roboto-slab-path}/RobotoSlab-Regular.woff2') format('woff2'),
    url('#{$p-roboto-slab-path}/RobotoSlab-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src:
    local('Roboto Slab Bold')
    local('RobotoSlab-Bold'),
    url('#{$p-roboto-slab-path}/RobotoSlab-Bold.woff2') format('woff2'),
    url('#{$p-roboto-slab-path}/RobotoSlab-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

.note-editing-area {
  @import "../../client/core/variables";
  @import "../../client/core/grid";
  @import "../../client/components/form";
  @import "~normalize.css/normalize.css";
  @import "../../client/core/helpers";
  a {
    &:hover {
      color: #ea6773;
    }
  }

  button {
    cursor: pointer;
  }

  .ot-btn {
    &.disabled,
    &[disabled] {
      background-color: #8e8e8e !important;
    }
  }

  @import "../../client/pages/news-item";
  @import "../../client/pages/services";
  @import "../../client/pages/services-2";
}

