@import '../core/variables';
@import "../components/service2-item";
@import "../components/order";
@import "../components/check-list";

.ot-order {
  background-color: #f3f4f5;
}
.ot-services {
  margin-bottom: 100px;
}

.ot-news-article {
  img {
    display: block;
    margin: 0 auto;
  }

  blockquote {
    > div {
      color: #0b959f;
      font-size: 30px;
      font-weight: bold;
    }
  }

  .ot-subtitle {
    font-size: 24px;
    margin: 20px 0 0;
  }

  .ot-ul-title {
    font-size: 30px;
    text-transform: uppercase;
  }
}


.ot-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 35px 12px;
  margin-bottom: 50px;
  border: 2px solid #17a3ad;
  border-radius: 8px;
  font-size: 24px;

  .ot-name {
    color: #333;
    width: 55%;
    text-transform: uppercase;
  }

  .ot-period {
    color: #17a3ad;
    width: 18%;
  }

  .ot-price {
    color: #ea5260;
    width: 18%;
  }
}

.ot-expanded {
  margin-top: -35px;
  margin-bottom: 25px;
  width: 100%;

  .ot-title {
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    color: #0b959f;
  }

  .ot-list {
    display: flex;
    justify-content: space-between;

    > div {
      width: 32%;
    }
  }

  .ot-check-list {
    margin: 15px 0;
    b {
      color: #333;
      font-size: 24px;
    }
  }
}

@media all and (max-width: 1023px) {
  .ot-block {
    font-size: 20px;
  }
  .ot-expanded {
    .ot-check-list {
      b {
        font-size: 18px;
      }
    }
  }

  .ot-news-article {

    .ot-subtitle {
      font-size: 20px;
      margin: 5px 0;
    }

    .ot-ul-title {
      font-size: 24px;
    }
  }

  .ot-news-article {
    blockquote {
      > div {
        font-size: 24px;
      }
    }
  }

}

@media all and (max-width: 767px) {
  .ot-block {
    flex-flow: column nowrap;
    font-size: 18px;

    .ot-name {
      margin-top: 5px;
    }
    .ot-name,
    .ot-period,
    .ot-price {
      width: 100%;
      margin-bottom: 5px;
    }
  }

  .ot-expanded {
    .ot-list {
      flex-flow: column;

      > div {
        width: 100%;
      }
    }
    .ot-check-list {
      display: block;
      width: 205px;
      margin: 0 auto;
      b {
        font-size: 16px;
      }
    }
  }

  .ot-news-article {
    blockquote {
      > div {
        font-size: 20px;
      }
    }
    .ot-subtitle {
      font-size: 18px;
      margin: 10px 0;
    }

    .ot-ul-title {
      font-size: 20px;
    }
  }
}
