@import '../core/variables';
@import "../components/service-item";
@import "../components/rnk";
@import "../components/order";
@import "../components/check-list";

.ot-service-2 {
  margin-bottom: 60px;
}

.ot-news-article:first-child {
  margin-bottom: 30px;
}

.ot-news-article {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 15px 0;
  }
}

.ot-cards {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 50px -15px 30px;
}

.ot-card {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;


  .ot-header,
  .ot-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 20px;
    height: 50px;
    font-weight: bold;
    margin: 0;
  }

  .ot-header {
    color: #fff;
    background-color: #3a4143;
  }

  .ot-bottom {
    background-color: #fff;
    color: #ea5260;
    border: 1px solid #ccc;
  }

  .ot-title {
    color: #3a4143;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0 15px;
    text-align: center;
  }

}

.ot-card-pink {
  .ot-header {
    background-color: #ea5260;
  }

  .ot-title {
    color: #ea5260;
  }
}

.ot-card-blue {
  .ot-header {
    background-color: #0b959f;
  }

  .ot-title {
    color: #0b959f;
  }
}

@media all and (max-width: 1023px) {
  .ot-card {
    width: 50%;
  }
}

@media all and (max-width: 767px) {
  .ot-card {
    width: 100%;
  }
}
