@import '../core/variables';
@import "../components/team-item";


.ot-team {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 50px -20px 0;

  .ot-item {
    width: 25%;
    margin: 0 0 15px;
    text-decoration: none;

    .ot-content {
      padding: 5px 20px;
      line-height: 30px;
      text-align: center;
    }

    .ot-name {

      font-size: 18px;
      font-weight: bold;
      color: #3a4143;
    }

    .ot-sub-text {
      display: block;

      font-size: 16px;
      font-weight: normal;
      color: #0b959f;
    }

    &:hover {
      .ot-sub-text {
        color: #ea5260;
      }
    }
  }
}

@media all and (max-width: 1023px) {
  .ot-team {
    .ot-item {
      .ot-name {
        font-size: 16px;
      }

      .ot-sub-text {
        font-size: 14px;
      }
    }
  }
}

@media all and (max-width: 767px) {
  .ot-team {
    .ot-item {
      width: 50%;
    }
  }
}
